.container {
  padding: 48px 0 0 0;
  border-radius: 16px;
  opacity: 0.7;
  background-image: url("../images/zgmapa.png");
  background-position: center;
  background-repeat: 0 repeat;
  background-size: cover;
}

h1,
h2,
h4,
p {
  font-family: "Poppins", sans-serif;
  color: white;
}
h1,
h2 {
  text-align: left;
}
h1,
h2,
.date,
.location {
  margin-top: 10px;
}

h1 {
  font-size: 90px;
}
h2 {
  font-size: 60px;
  margin-top: 0;
}

.location {
  position: fixed;
  top: 0;
  width: 20%;
}

h4 {
  color: #75aca3;
  background-color: white;
  max-width: 150px;
}
p {
  color: white;
}
