.container {
  padding: 48px 0 0 0;
  border-radius: 5px;
  opacity: 0.7;
  background-image: url("../images/bg.jpeg");
  background-position: center;
  background-repeat: 0 repeat;
  background-size: cover;
}

h1,
h4,
p,
.forecast {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: large;
  margin-left: 8px;
}
.weekly-forecast {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
  font-size: large;
  font-weight: bold;
}

h1,
.date {
  margin-top: 30px;
  text-align: left;
}

h1 {
  font-size: 70px;
}

.location {
  position: fixed;
  top: 0;
  width: 20%;
}

.temperature-min {
  opacity: 75%;
}

#currentTime {
  color: #9e98aa;
  background-color: white;
  opacity: 90%;
  max-width: 120px;
}
#icon {
  width: max-content;
}

#searchButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 12px;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  color: ##9e98aa;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
}
#searchButton:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

footer {
  margin-top: 50px;
  margin-left: 20px;
  color: gray;
  font-size: small;
}
